@model MeriEducation.Models.Avatar

<h3>Create Your Avatar </h3>

@*@using (Html.BeginForm())
{
    <p>Gender</p><br />
    @Html.DropDownList("GenderId")

    <p>Skin Color</p><br />
    @Html.DropDownList("SkinId")

    <input type="submit" value="Add new Character" />
}*@

<div id="Avatar"></div>