@model MeriEducation.Models.ApplicationUser

@Model.AvatarId

@*<div id="visual">
    <span id="skin"><img src="~/images/skin/@(Model.Avatar.SkinId).png" /></span>
    <span id="hair"><img src="~/images/hair/@(Model.Avatar.HairId).png"></span>
    <span id="outfits"><img src="~/images/outfit/@(Model.Avatar.OutfitId).png"> </span>
</div>*@