@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<System.Models.Quiz>


    <h2>Quizes by grade level</h2>

    <h1>7th Grade</h1>
    <ul>
        @foreach (var listItem in Model)
        {
            @if (listItem.Grade == 7)
            {
                <li>@Html.DisplayFor(modelItem => listItem.Name)
                    @Html.ActionLink("Details", "Details", new { id = listItem.QuizId })
                </li>
            }

        }
    </ul>

    <h1>8th Grade</h1>
    <ul>
        @foreach (var listItem in Model)
        {
            @if (listItem.Grade == 8)
            {
                <li>
                    @Html.DisplayFor(modelItem => listItem.Name)
                    @Html.ActionLink("Details", "Details", new { id = listItem.QuizId })
                </li>
            }

        }
    </ul>
