@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MeriEducation.Models.Quiz>


    <h2>Quizes by grade level</h2>

  
           @for (int i = 1; i < 11; i++)
            { 
               <h3>Grade @i</h3>

                @foreach (var listItem in Model)
                {
                    @if (listItem.Grade == i)
                    {


                    <button class="btn btn-default btn-lg"><a href="@Url.Action("Details", "Details", new { id = listItem.QuizId })">@listItem.Name</a></button>



                    }
                  }
                }
          