@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Security.Claims
@using MeriEducation.ViewModels
@model LoginViewModel

<hr />
@if (User.IsSignedIn())
{

    @if ((ViewBag.User.AvatarId) == null && User.IsInRole("Student"))
    {
        @Html.Partial("_AvatarCreate")
    }


}
else
{
    <h2>Login</h2>
    <hr />
        <p>@Html.ActionLink("Log in", "Login")</p>
        <p>@Html.ActionLink("Register", "Register")</p>
    }