@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MeriEducation.Models.AddQuizViewModel

    <h2>Create</h2>
    <hr />
    <h4>Add a new quiz</h4>


<div id="quiz">
    @using (Html.BeginForm())
    {
            <p>
                Name
                @Html.TextBoxFor(model => model.Name)
            </p>

            <p>
                Grade
                @Html.TextBoxFor(model => model.Grade)
            </p>

    <input type="submit" value="Create" />
    }
    </div>

    <hr />


    <p>@Html.ActionLink("Back to quiz list", "Quizzes")</p>
