
@model MeriEducation.Models.Quiz

<script>
  $(document).ready(function () {
      $('.new-question').submit(function (event) {
          event.preventDefault();
          $.ajax({
              url: '@Url.Action("NewQuestion")',
            type: 'POST',
            dataType: 'json',
            data: $(this).serialize(),
            success: function (result) {
                $('.new-question').remove();
                location.reload();
            }
         });
      });
  });
</script>


    <form action="NewQuestion" class="new-question">
        <label for="newQuestionText">Question Text: </label>
        <input type="text" name="newQuestionText" />
        <br />
        <label for="newAnswer1">(A)</label>
        <input type="text" name="newAnswer1" class="newAnswer1" />
        <br />
        <label for="newAnswer2">(B)</label>
        <input type="text" name="newAnswer2" />
        <br />
        <label for="newAnswer3">(C)</label>
        <input type="text" name="newAnswer3" />
        <br />
        <label for="newAnswer4">(D)</label>
        <input type="text" name="newAnswer4" />
        <br />
        <label for="newCorrectAnswer">Correct Answer: </label>
        <select name="newCorrectAnswer" class="correct">
            <option value="Answer1">A</option>
            <option value="Answer2">B</option>
            <option value="Answer3">C</option>
            <option vale="Answer4">D</option>
        </select>
        <input hidden name="QuizId" value=@Model.QuizId type="number" />
        <button type="submit">Submit</button>
    </form>