
@model MeriEducation.Models.Quiz

<script type="text/javascript">
    $(document).ready(function () {
      $('.quiz-edit').submit(function (event) {
          event.preventDefault();
          $.ajax({
              url: '@Url.Action("QuizEdit")',
              type: 'POST',
              dataType: 'json',
              data: $(this).serialize(),
              success: function (result) {
                  var resultMessage = '<h3>' + result.Name + '</h3><span class="edit">Edit</span>';
                  $('.title-display').append(resultMessage);
                  $('.quiz-edit').remove();

              }
          });
      });
  });

</script>

 <form action="QuizEdit" class="quiz-edit">
    <label for="editName">Name: </label>
    <input type="text" name="editName" />
    <input hidden type="number" name="quizId" value="@Model.QuizId" />
    <label for="editGrade">Grade: </label>
    <input type="number" name="editGrade" />
    <button type="submit">Save</button>
</form>

 

