
@model MeriEducation.Models.Quiz

<script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>

<script>
$(document).ready(function () {
    $('.quiz-edit').submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("QuizEdit")',
            type: 'POST',
            dataType: 'json',
            data: $(this).serialize(),
            success: function (result) {
            var resultMessage = result.Name;
            $('.title-display').show();
            $('.name').replaceWith("<span class='name'>" + resultMessage + '</span>');
            $('.quiz-edit').remove();
           }
         });        });
});
</script>

 <form action="QuizEdit" class="quiz-edit">
    <label for="editName">Name: </label>
    <input type="text" name="editName" value="@Model.Name" />
    <input hidden type="number" name="quizId" value="@Model.QuizId" />
    <label for="editGrade">Grade: </label>
    <input type="number" name="editGrade" value="@Model.Grade" />
    <button type="submit">Save</button>
</form>