@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MeriEducation.Models.Quiz>

<button class="btn btn-default btn-lg"><a href=@Url.Action("Create", "Admin")>Create a Quiz</a></button>


@for (int i = 1; i < 11; i++)
{
    <h3>Grade @i</h3>

            @foreach (var listItem in Model)
            {
                @if (listItem.Grade == i)
                {
                        <a href=@Url.Action("AddQuestion", "Admin", new { id = @listItem.QuizId })><span>@listItem.Name</span></a>
                        @using (Html.BeginForm("Delete", "Admin", new { id = listItem.QuizId }))
                        {
                            <input type="submit" value="Delete" />
                        }
                }
            }
}



